<div class="inline-flex mx-8 justify-between sm:items-center mb-8">
  <div class="flex flex-wrap justify-center sm:justify-start -space-x-3 -ml-px">

  </div>
  <div class="grid grid-cols-12 gap-6 mx-8">
    
  </div>
</div>