<div class="flex flex-col items-start px-<%= space_x %>">
  <p class="text-sm font-semibold mb-2 text-slate-800">Progress</p>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
  </div>
</div>
<div class="inline-flex justify-end px-4">
  <p>45%</p>
</div>