<footer class="flex flex-row justify-center align-middle bg-gray-50 focus:outline-none border-t border-b border-gray-200 dark:border-gray-700">
  <span class="focus:outline-none text-xs lg:text-sm leading-none text-gray-900 dark:text-gray-50 p-2">
    2022 Heberth Braga. All Rights Reserved.
  </span>
</footer>