<%= render 'shared/vertical_container' do %>
  <div id="category_form_container" class="flex flex-col shadow-md px-4 sm:px-6 sm:mb-6 md:px-8 md:mb-20 lg:px-10 py-8 rounded-md w-full max-w-md bg-white mt-10">
    <div>
      Form
    </div>
  </div>
<% end %>