<div id="tab_pane" class="flex items-start">
  <div class="flex flex-col items-start mx-1 my-4 cursor-pointer p-4 hover:bg-slate-100 hover:rounded-lg">
    <h2 class="font-semibold text-slate-800 text-lg ">12</h2>
    <span class="text-sm text-gray-500">In Progress</span>
  </div>
  <div class="flex flex-col h-full justify-center mx-6"><span class="items-center text-gray-300 text-xs">&#x25CB;</span></div>
  <div class="flex flex-col items-start mx-1 my-4 cursor-pointer p-4 hover:bg-slate-100 hover:rounded-lg">
    <h2 class="font-semibold text-slate-800 text-lg">12</h2>
    <span class="text-sm text-gray-500">Upcoming</span>
  </div>
  <div class="flex flex-col h-full justify-center mx-6"><span class="items-center text-gray-300 text-xs">&#x25CB;</span></div>
  <div class="flex flex-col items-start mx-1 my-4 cursor-pointer p-4 hover:bg-slate-100 hover:rounded-lg">
    <h2 class="font-semibold text-slate-800 text-lg">12</h2>
    <span class="text-sm text-gray-500">Completed</span>
  </div>
</div>