<div class="flex flex-col col-span-full sm:col-span-6 <%= column %> bg-white shadow-lg rounded-sm border border-slate-200">
  <div class="grow p-5">
    <header class="flex justify-between items-start mb-2">
      <div>Icon</div>
      <div>Action</div>
    </header>
    <%= yield %>
  </div>
</div>