<%= render 'shared/dashboard/card', { column: 'xl:col-span-4' } do %>
  <h2 class="text-lg font-semibold text-slate-800 mb-2">Title</h2>
  <div class="text-xs font-semibold text-slate-400 uppercase mb-1">Activity</div>
  <div class="flex items-start">
    <div class="text-3xl font-bold text-slate-800">Desc</div>
  </div>
<% end %>