<%= render 'shared/main', { title: 'Project Management', stylesheets: ['application'] } do %>
  <body class="flex flex-col h-screen justify-between font-sans bg-slate-50">
    <%= render 'shared/navigation' %>
    <main class="mb-auto bg-grey-vintage">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
<% end %>
