<%= render 'shared/main', { title: 'Dashboard', stylesheets: ['application'] } do %>
  <body class="flex flex-row font-sans w-full min-h-screen">
    <%= render 'shared/dashboard/sidebar' %>
    <main class="flex flex-col w-full bg-slate-100">
      <%= yield %>
    </div>
  </body>
<% end %>